* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root,
.App {
  height: 100%;
  width: 100%;
}

.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the top */
  padding-top: 75px;
  /* Adjust this to match the height of the header */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* Remove any top margin */
}

.diamond-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
  margin: 10px;
}

.diamond-img:hover {
  transform: scale(1.1);
  width: 250px;
  height: 250px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#title {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 20px;
  z-index: 1000;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Media Queries */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .image-container {
    flex-direction: column;
  }

  .diamond-img {
    height: 130px;
    width: 130px;
  }

  .diamond-img:hover {
    transform: scale(1.1);
    width: 140px;
    height: 140px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .bg {
    padding-top: 55px;
    /* Adjust this to match the height of the header for smaller devices */
  }

  .header {
    top: 10px;
  }
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
  .image-container {
    flex-direction: row;
  }

  .diamond-img {
    height: 130px;
    width: 130px;
  }

  .diamond-img:hover {
    transform: scale(1.1);
    width: 155px;
    height: 155px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .bg {
    padding-top: 75px;
    /* Adjust this to match the height of the header */
  }

  .header {
    padding: 20px 20px;
  }
}

@media only screen and (max-device-width: 500px) and (orientation: portrait) {
  .header {
    top: 3px;
    font-size: 28px;
  }

  .diamond-img {
    height: 120px;
    width: 120px;
  }

  .diamond-img:hover {
    transform: scale(1.1);
    width: 130px;
    height: 130px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  /* Full white background to cover the entire screen */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Ensure it covers all other elements */
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}